{#
 *  PyDMXControl: A Python 3 module to control DMX using OpenDMX or uDMX.
 *                Featuring fixture profiles, built-in effects and a web control panel.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2019 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
{% extends "base.jinja2" %}

{% block body %}
    <h2>Home</h2>

    <section>
        <article>
            <h2>Sync utilities</h2>
            <table>
                <tbody>
                    <tr>
                        <td data-th="Callback Name">
                            BPM</td>
                        <td data-th="Run">
                            <form id="bpm">
                                <input id="bpm_value" name="bpm_value" type="number" min="0" max="1000" step="1" value="{{ controller.ticker.get_bpm() }}" required/>
                                <input type="submit" value="Update" id="submit" name="submit"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td data-th="Callback Name">
                            Sync</td>
                        <td data-th="Run">
                            <form id="sync">
                                <input type="submit" value="Update" id="submit" name="submit"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td data-th="Callback Name">
                            Nudge (ms)</td>
                        <td data-th="Run">
                            <form id="nudge">
                                <input id="nudge_value" name="nudge_value" type="number" min="-1000" max="1000" step="1" value="50" required/>
                                <input type="submit" value="Update" id="submit" name="submit"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td data-th="Callback Name">
                            Skip (bars)</td>
                        <td data-th="Run">
                            <form id="skip">
                                <input id="skip_value" name="skip_value" type="number" min="-64" max="64" step="1" value="0" required/>
                                <input type="submit" value="Update" id="submit" name="submit"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article>
            <h2>Section Select</h2>
            <form id="section_select">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Section length:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="8" name="section_length" value="8">
                                <label for="8"> 8</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="16" name="section_length" value="16" checked="checked">
                                <label for="16"> 16</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Section type:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="chill" name="section_type" value="chill" checked="checked">
                                <label for="chill"> Chill</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="buildup" name="section_type" value="buildup">
                                <label for="buildup"> Build up</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="drop" name="section_type" value="drop">
                                <label for="drop"> Drop</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Apply to:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="current" name="apply_to" value="current" checked="checked">
                                <label for="current"> Current</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="next" name="apply_to" value="next">
                                <label for="next"> Next</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sync to nearest (bars):
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="sync_to" name="sync_to" type="number" min="1" max="64" step="1" value="16" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Submit">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </article>
    </section>
{% endblock body %}

{% block script %}
    <script>
        function get_radio_selection(name) {
            var ele = document.getElementsByName(name);

            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked) {
                    return ele[i].value
                }
            }
        }

        document.getElementById("bpm").addEventListener("submit", function (e) {
            e.preventDefault();
            get("http://localhost:8080/set_bpm/" + encodeURIComponent(Math.floor(document.getElementById("bpm_value").value)) + "/0");
        });

        document.getElementById("sync").addEventListener("submit", function (e) {
            e.preventDefault();
            get("http://localhost:8080/sync/" + encodeURIComponent(Date.now()));
        });

        document.getElementById("nudge").addEventListener("submit", function (e) {
            e.preventDefault();
            get("http://localhost:8080/nudge/" + encodeURIComponent(document.getElementById("nudge_value").value));
        });

        document.getElementById("skip").addEventListener("submit", function (e) {
            e.preventDefault();
            get("http://localhost:8080/skip/" + encodeURIComponent(document.getElementById("skip_value").value));
        });

        document.getElementById("section_select").addEventListener("submit", function (e) {
            e.preventDefault();
            get("http://localhost:8080/section_select/" + encodeURIComponent(get_radio_selection("section_type")) + "/" + encodeURIComponent(get_radio_selection("section_length")) + "/" + encodeURIComponent(get_radio_selection("apply_to")) + "/" + encodeURIComponent(document.getElementById("sync_to").value));
        });
    </script>
{% endblock script %}