{#
 *  PyDMXControl: A Python 3 module to control DMX using OpenDMX or uDMX.
 *                Featuring fixture profiles, built-in effects and a web control panel.
 *  <https://github.com/MattIPv4/PyDMXControl/>
 *  Copyright (C) 2023 Matt Cowley (MattIPv4) (me@mattcowley.co.uk)
 #}
{% extends "base.jinja2" %}

{% block body %}
    <h2>{{ fixture_type }}</h2>
    <a href="{{ url_for('.home') }}" class="button">&lt; Home</a>

    <section>

        <article>
            <h2>Channels</h2>
            <table>
                <thead>
                <tr>
                    <th>Channel No.</th>
                    <th>Channel Name</th>
                    <th>Slider</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for i, channel in enumerate(fixture_channels(fixtures[0])) %}
                    <tr>
                        <td data-th="Channel No.">
                            {{ (i) }}</td>
                        <td data-th="Channel Name" id="channel-{{ i }}-name">
                            {{ channel[0] }}</td>
                        <td data-th="Slider">
                            <div class="slider">
                                <input title="{{ channel[0] }}" type="range" min="0" max="255" step="1" id="{{ channel[0] }}_value" value="0" />
                            </div></td>
                        <td data-th="Value">
                            <label for="{{ channel[0] }}_value">{{ 0 }}</label></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
        <article>
            <h2>Fixtures</h2>
            <table>
                <thead>
                <tr>
                    <th>Fixture ID</th>
                    <th>Fixture Name</th>
                    <th>Select</th>
                </tr>
                </thead>
                <tbody>
                {% for fixture in fixtures %}
                    <tr>
                        <td data-th="Fixture ID">
                            {{ fixture.id }}</td>
                        <td data-th="Fixture Name">
                            {{ fixture.name }}</td>
                        <td data-th="Select">
                                <a href="/" data-no-reload class="button">Select</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h2>Apply</h2>
            <table>
                <tbody>
                    <tr><td><input id="clickMe" type="button" value="Apply" onclick="blah();" /></td></tr>
                </tbody>
            </table>
        </article>

    </section>
{% endblock body %}

{% block script %}
    <script>
        function change_input(id, value, update) {
            document.getElementById(id).value = value;
            input_change(update);
            console.log("1");
        }

        function input_change(id, update) {
            document.querySelector("label[for='"+id+"']").innerText = String(document.getElementById(id).value);
            console.log("2")
        }

        function blah() {
            get("{{ url_for('.bulk_change', ids="1_2_3_4", values="255_255_0_0_0_0_0") }}");
        }

        {% for channel in fixture_channels(fixtures[0]) %}
        document.getElementById("{{ channel[0] }}_value").addEventListener("input", function (e) {
            input_change("{{ channel[0] }}_value", true);
        });
        {% endfor %}

    </script>
{% endblock script %}
